[Unit]
Description=scapy-watch Daemon
After=syslog.target network-online.target

[Service]
User=root
Group=root

PIDFile=/var/run/scapy-watch.pid

Type=simple
ExecStart=/usr/local/bin/scapy-watch.py -r
TimeoutStopSec=10
RestartSec=5s
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
